.main
{
	background: #cfcfcf;
}
.main-header
{
	color: red;
}
.main2
{
	background-color: #cfcfcf;
}
.first-blog
{
	color: red;
}
.second-blog
{
	color: red;
}
.third-blog
{
	color: red;
}
.p
{
	background-color: green;
}
